body
{
    margin: 0%;
}
header
{
    display: flex;
    background-color: #1F2937;
}
.logo
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 15px;
}

nav ul
{
    margin-left:300px ;
}
nav li
{
    display: inline-block;
    margin-top: 25px;
    margin-left: 170px;
    font-size: 20px;
    color: white;
}

.box1
{
    display: flex;
    padding: 50px;
    background-color: #1F2937;
   
}
.heading
{
    margin-top: 80px;
    margin-left: 100px;
    color: white;
}
.photo
{
margin-left: 100px;
width: 600px;
height: 300px;
border: solid 1px black;
background-image: url('image/dbz.jpg');
background-position: center;
background-size: cover;
border-radius: 10px;
}
.subheading
{
    margin-left: 130px;
    color:#E5E7EB; 
    font-size: 25px;
}
button
{
   margin-left: 250px; 
   padding: 10px 30px 10px 30px;
   border-radius: 10px;
   background-color: #3882F6;
   font-weight: bold;
   color:white;
   border-style: solid;
  border: none;
}